## import modules and setup csv to be read

In [169]:
import pandas as pd
import os
import numpy as np

csvpath = os.path.join('..','Resources','purchase_data.csv')

hero =  pd.read_csv(csvpath)

## player count

In [170]:
## code snippit found online to clean the header names(remove spaces, lowercase, ect)
hero.columns = hero.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
## count of unique players
x = hero.sn.unique()
total_players = [len(x)]
# output to table
pd.DataFrame(total_players,columns=["Total Players"])

   Total Players
0            576

## purchasing analysis (total)

In [171]:
## keeping of variable full count
fullcount=len(x)

## output list intialization that will be appended to
y=[]
x=len(hero.item_id.unique())

## add unique item total to list
y.append(x)
## add average price to list
x=hero["price"].mean()
z='${:.2f}'.format(x)
y.append(z)
## add number of purchases to list
x=len(hero.index)
y.append(x)
## add total rev to list
x=hero["price"].sum()
z='${:.2f}'.format(x)
y.append(z)
## add list y to data frame 'output' and print
outputPA=pd.DataFrame(columns=["Number of Unique Items","Average Price","Number of Purchases","Total Revenue"])
outputPA.loc[0] = y
outputPA

  Number of Unique Items Average Price Number of Purchases Total Revenue
0                    183         $3.05                 780      $2379.77

## gender demographics

In [172]:
## output list intialization that will be appended to
male = []
female = []
other = []

## group by gender, then isolate only the males
gender = hero.groupby('gender')
Mgender=gender.get_group('Male')
## count the number of unique names in males, append to male list
male.append(len(Mgender.sn.unique()))
x='{:.2%}'.format(len(Mgender.sn.unique())/fullcount)
male.append(x)

## group by gender, then isolate only the females
gender = hero.groupby('gender')
Fgender=gender.get_group('Female')
## count the number of unique names in females, append to female list
female.append(len(Fgender.sn.unique()))
x='{:.2%}'.format(len(Fgender.sn.unique())/fullcount)
female.append(x)

## group by gender, then isolate only the others
gender = hero.groupby('gender')
Ogender=gender.get_group('Other / Non-Disclosed')
## count the number of unique names in others, append to others list
other.append(len(Ogender.sn.unique()))
x='{:.2%}'.format(len(Ogender.sn.unique())/fullcount)
other.append(x)

## add lists to output dataframe
outputGD=pd.DataFrame(columns=["Total Count","Percentage of Players"])
outputGD.rename(index={0:"Male",1:"Female",2:"Other / Non-Disclosed"})
outputGD.loc['Male'] = male
outputGD.loc['Female'] = female
outputGD.loc['Other / Non-Disclosed'] = other
outputGD

                      Total Count Percentage of Players
Male                          484                84.03%
Female                         81                14.06%
Other / Non-Disclosed          11                 1.91%

## purchasing analysis (gender)

In [173]:
## output list intialization that will be appended to
male = []
female = []
other = []

## group by gender, then isolate only the females
gender = hero.groupby('gender')
Fgender=gender.get_group('Female')
female.append(len(Fgender))
female.append(Fgender["price"].mean())
female.append(Fgender["price"].sum())
f=len(Fgender.sn.unique())
female.append(Fgender["price"].sum()/f)

## group by gender, then isolate only the males
gender = hero.groupby('gender')
Mgender=gender.get_group('Male')
male.append(len(Mgender))
male.append(Mgender["price"].mean())
male.append(Mgender["price"].sum())
m=len(Mgender.sn.unique())
male.append(Mgender["price"].sum()/m)

## group by gender, then isolate only the others
gender = hero.groupby('gender')
Ogender=gender.get_group('Other / Non-Disclosed')
other.append(len(Ogender))
other.append(Ogender["price"].mean())
other.append(Ogender["price"].sum())
o=len(Ogender.sn.unique())
other.append(Ogender["price"].sum()/o)


outputPAG=pd.DataFrame(columns=["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"])
outputGD.rename(index={0:"Male",1:"Female",2:"Other / Non-Disclosed"})
outputPAG.loc['Female']=female
outputPAG.loc['Male']=male
outputPAG.loc['Other / Non-Disclosed']=other
outputPAG

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113.0,3.203009,361.94,4.468395
Male,652.0,3.017853,1967.64,4.065372
Other / Non-Disclosed,15.0,3.346000,50.19,4.562727

## age demographics

In [201]:
y=hero.drop_duplicates(['sn'])
bins = pd.cut(y['age'],[0,9])

y.groupby(bins).apply(lambda x: x/x.sum())

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8           NaN
9           NaN
10          NaN
11          NaN
12          NaN
13          NaN
14          NaN
15          NaN
16          NaN
17          NaN
18          NaN
19          NaN
20          NaN
21          NaN
22          NaN
23          NaN
24          NaN
25          NaN
26          NaN
27     0.052632
28          NaN
29          NaN
         ...
728         NaN
729         NaN
730         NaN
731         NaN
733         NaN
736         NaN
737         NaN
738         NaN
739         NaN
741         NaN
742         NaN
743         NaN
745         NaN
746         NaN
748         NaN
750         NaN
751         NaN
752         NaN
753         NaN
756         NaN
757         NaN
761         NaN
765         NaN
769         NaN
771         NaN
773         NaN
774         NaN
775         NaN
777         NaN
778    0.052632
Name: age, Length: 576, dtype: float64